<?xml version="1.0" encoding="UTF-8"?>
<processes id="group.0" name="group.process.0">
	<process id="group.0.process.0" name="Main" path="~/prv/silk/comm.starter.Main" ui="true"/>
	<process id="group.0.process.1" name="Supported" path="~/silk/comm.starter.Main">
		<dependencies>
		<!-- 	specify the dependent processes here. These have to be started before parent
				 process can be started -->
			<depends id="group.0.process.dep.0" name="Supported" path="~/silk/comm.starter.Main" />
			<depends id="group.0.process.dep.1" name="Supported" path="~/silk/comm.starter.Main" />
			<depends id="group.0.process.dep.2" name="Supported" path="~/silk/comm.starter.Main" />
		</dependencies>
	</process>
	
	<!-- config all the services here -->
	<services>
		<service />
	</services>
</processes>